<%= turbo_frame_tag dom_id(@house) do %>

	<p>this is a conditional page</p>

	<div>
	  <%= link_to 'Previous Step', previous_wizard_path %>
	  <%= link_to 'Next Step', next_wizard_path %>
	  <%#= link_to 'Skip', next_wizard_path %>
	</div>

<% end %>